 *{margin: 0%;
    padding: 0;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, source-sans-pro;

;
	 
}
body, html {
    overflow-x: hidden;
    background-color: #abaaa7;
    color: #fff;
    font-family: Lato,Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.navigation{
	display: flex;
	position: fixed;
	justify-content: flex-start;
	flex-direction: row-reverse;
	height: 60px;
	width: 100%;
	background-color:visible;
	z-index: 1;
	align-items: center;
}
.navigation ul li{
	list-style: none;
	float: left;
	overflow: hidden;	
}
.navigation ul li a{
	font-size: 33px;
	padding: 20px;
	text-decoration: none;
	margin-left: 22px;
	color: white;
	
}

.navigation ul li a:hover{
	color: black;
	font-size: 35px;
	text-overflow: hidden;
	padding-left: 150px;
 }

.feature-image{
	max-height: 600px;
	width: 100%;
}
.feature-image img{
	height: 100vh;
	width: 100wh;
}
.pro-pic-box {
	padding-left: -2px;
    display: block;
    height: 85vh;
    width: 45wh;
    bottom: -6%;
    right: 0;
    bottom: 0%;
	margin-left: 620px;
}
.hero-text-area {
	color:white;
    padding: 2% 6%;
    border-radius: 15px;
    box-shadow: 0 2px 15px #3e464e;
    bottom: 0%;
    left: 2%;
    box-shadow: 5px 5px 10px 5px rgba(34,34,34,.1);
}
.hero-text-area, .pro-pic-box {
    overflow: hidden;
    position: absolute;
}
.pro-pic-box img {
    height: 100vh;
    width: 100wh;
	bottom: 1%;
	margin-left:0px;
}
.download{
	background-color: rgb(18, 84, 170);
	height: 50px;
	text-decoration: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 20%;
	border-bottom-style: double;
	color: black;
	box-shadow: 5px 5px 10px 5px rgba(34,34,34,.3);
	
}
.download:hover{
	color:white;
}
.content{
    color: black;
    background-color: transparent;
    opacity: 0.3;
 }
 .introduction{
	display: flex;
	text-align: center;
	margin-top: 350px;
	height: 350px;
	width: 100%;
	padding:20px;
	z-index: 999;
    justify-content:center;
    background-color: white;
    position: relative;
    background: url("../image/bg_img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.introduction-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6)
}
.introduction h2{
    color: #ffa602;
    
    font-size: 20px;
    padding:30px;
}
.introduction h3{
	padding-left: 2em;
	font-size: 1.3em;
	columns: black;
}
.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    object-fit: cover;
}



  .skill{
	margin-top: 30px;
	text-align: center;
	display:flex;
	color: black;
	font-size: 20px;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.progress_bar{
	display: block;
	align-content: center;
	
}
.progress_bar h1{
	color: white;
	z-index: 999;
	background-color: black;
	width: 100wh;
}
#c{
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
	
}

#c:after {
    content: '';
    display: block;
    background: white;
    width: 75%;
    height: 100%;
    border-radius: 9px;

}
#adv_c{
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#adv_c:after{
    content: '';
    display: block;
    background-color: blue;
    width: 60%;
    height: 100%;
    border-radius: 9px;

}
#php_laravel{
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#php_laravel:after{
    content: '';
    display: block;
    background:white;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
#wordpress {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#wordpress:after {
    content: '';
    display: block;
    background:blue;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}
#javascript {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#javascript:after {
    content: '';
    display: block;
    background:white;
    width: 65%;
    height: 100%;
    border-radius: 9px;
}
#html{
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#html:after {
    content: '';
    display: block;
    background:blue;
    width: 85%;
    height: 100%;
    border-radius: 9px;
}
#css {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#css:after {
    content: '';
    display: block;
    background:white;
    width: 60%;
    height: 100%;
    border-radius: 9px;
}
#photoshop {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#photoshop:after {
    content: '';
    display: block;
    background:blue;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}
#xd {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}
#xd:after {
    content: '';
    display: flex;
    background:white;
    width: 43%;
    height: 100%;
    border-radius: 9px;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}
.contact-section {
    background-color: #181717;
    overflow: hidden;
    padding: 20px;
	text-align: center;
	color: white;
}
.section {
    background-color: #898989;
    padding: 50px 0 0;
}

.contact-image-container{
	height: 400px;
    display: flex; 
	height: 400px;
	width: 200px;
	justify-content: center;
}
.contact-actions{
	display: flex;
    justify-content:center;
	
}
.linkedin{
	display: flex;
	border-radius: 25px;
	display: flex;
	background-color:lightblue;
	height: 20px;
	width: 150px;
	padding: 20px;
	margin-top: 10px;
	color: black;
	list-style: none;
	justify-content: center;
}
.linkedin li a{
	height: 20px;
	font: 1em sans-serif;
	padding: 5px;

}
.linkedin li a:hover{
	color: black;
	font-size: 1.5em;
}
.github{
	display: flex;
	color: black;
	background-color: lightblue;
	height: 20px;
	width: 150px;
	padding: 20px;
	margin-top: 10px;
	border-radius: 25px;
	justify-content: center;
	list-style: none;
  }
  .github li a{
   font: 1em sans-serif;
  }
  .github li a:hover{
	  color: black;
	  font-size: 1.5em;
  }
  .contact_section{
	  padding-top:5px;
	  color:black;
	  background-color: blanchedalmond;
	  justify-content:center;
	  text-align: center;
  }
  .contact_section p i{
	  height: 50px;
	  width: 70px;
	  background-color:lightblue;
  }

.footer{
	display: flex;
	background-color: white;
	color: black;
	padding: 5px;
	min-height: 0px;
	width: 100%;
	justify-content: right;
	list-style: none;
	float:left;
	overflow: hidden;
}

.footer ul li{
	margin: 15px;
	list-style: none;
	float: left;
}
.footer ul li i:hover{
	height: 25px;
	width: 35px;
	background-color:snow;
	color:blue;
}